<div class="d-flex flex-wrap gap-2">

    <div class="card col-md-12 p-0">
        <div class="card-body">
            <h4 class="card-title">Lista de facturas</h4>

            <div class="d-flex justify-content-between flex-wrap mt-1">
                <div class="my-2">
                    <label for="mostrar" class="me-2">Mostrar: </label>
                    <select name="" id="" [value]="query.hasta" #mostrar (change)="limiteChange(mostrar.value)">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="250">250</option>
                        <option value="500">500</option>
                    </select>
                </div>
            </div>

            <div class="table-responsive">
                <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Cliente</th>
                            <th>Monto</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngIf="invoices.length === 0">
                            <td class="text-center" colspan="5">No existen registro de Remisiones...</td>
                        </tr>

                        <tr *ngFor="let invoice of invoices">
                            <td>
                                <a class="pointer" [routerLink]="['/dashboard/factura', invoice.iid]"> {{ invoice.invoice }} </a>
                            </td>
                            <td>
                                <span *ngIf="!invoice.client">Consumidor Final</span>
                                <span *ngIf="invoice.client"> {{ invoice.client.name }} </span>

                            </td>
                            <td> {{ invoice.amount | currency:'COP' : 'symbol' : '1.0-0' }} </td>
                            <td> {{ invoice.fecha | date: 'short' }} </td>
                            <td>
                                <a [routerLink]="['/dashboard/factura', invoice.iid]" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn">
                                    <i class="ti-arrow-top-right" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8">
                                <div class="btn-group" role="group" aria-label="First group">
                                    <button [disabled]="query.desde === 0" (click)="cambiarPagina(query.hasta * -1)" type="button" class="btn btn-dark text-white">Atras</button>
                                    <button [disabled]="( query.desde + query.hasta ) >= total" (click)="cambiarPagina(query.hasta)" type="button" class="btn btn-dark text-white">Siguiente</button>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <!-- COLUMN -->

</div>