<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">
                <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="./assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="./assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                <!--End Logo icon -->
                <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="./assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                         <!-- Light Logo text -->    
                         <img src="./assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item hidden-sm-down"></li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">

                <!-- ============================================================== -->
                <!-- Comment -->
                <!-- ============================================================== -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
                        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mailbox animated fadeIn">
                        <ul>
                            <li>
                                <div class="drop-title">Notifications</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <a href="#">
                                        <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                        <div class="mail-contnet">
                                            <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span> </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                    </div>
                </li> -->
                <!-- ============================================================== -->
                <!-- End Comment -->
                <!-- ============================================================== -->
                <li class="nav-item">
                    <a type="button" class="nav-link waves-effect waves-dark" data-toggle="modal" data-target="#nueva-tarea">
                        <i class="ti-plus" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a type="button" class="nav-link waves-effect waves-dark" data-toggle="modal" data-target="#buscar-product">
                        <i class="ti-search" aria-hidden="true"></i>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img [src]="user.getImage" alt="user" class="profile-pic" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img">
                                        <img [src]="user.getImage" alt="user">
                                    </div>
                                    <div class="u-text">
                                        <h4> {{ user.name }} </h4>
                                        <p class="text-muted">Usuario: {{ user.usuario }}</p>
                                        <a [routerLink]="['/dashboard/perfil', user.uid]" class="btn btn-rounded btn-danger btn-sm">Ver perfil</a></div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a [routerLink]="['/dashboard/perfil', user.uid]" routerLinkActive="active"><i class="ti-user"></i> Mi Perfil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="pointer" (click)="logout()"><i class="fa fa-power-off"></i> Salir</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- ========================================================= 
MODAL BUSACR PRODUCT
======================================================== -->
<div id="buscar-product" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalBuscarProducto" aria-hidden="true" #modalNewUser>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalBuscarProducto">Buscar Producto</h4>
            </div>
            <div class="modal-body">

                <div class="my-2">
                    <input type="text" id="demo-input-search2" placeholder="Buscar Productos" (keyup)="search(buscador.value)" class="form-control m-0" #buscador>
                    <small *ngIf="resultados > 0" class="text-muted animated fadeIn">Resultados: {{resultados}}</small>
                </div>

                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Serial</th>
                                <th>Modelo</th>
                                <th class="text-center">Cliente</th>
                                <th>Condiciones</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngIf="products.length == 0">
                                <td colspan="8">
                                    <h3 class="mb-0 text-center"> Aun no existen registros de productos... </h3>
                                </td>
                            </tr>

                            <tr *ngFor="let product of products">

                                <td>
                                    <a [routerLink]="['/dashboard/producto', product.pid]">
                                        {{ product.code }}
                                    </a>
                                </td>
                                <td> {{ product.serial }} </td>
                                <td> {{ product.model }} </td>
                                <!-- mdi-account-plus -->
                                <td class="text-center">

                                    <span *ngIf="product.client?.name" data-toggle="tooltip" [title]="product.client.name">
                                        {{ product.client?.name }}
                                    </span>

                                    <span *ngIf="!product.client?.name">
                                        --
                                    </span>

                                </td>
                                <td>
                                    <small *ngIf="product.estado === 'Instalada' " class="label label-inverse"> {{ product.estado }} </small>
                                    <small *ngIf="product.estado === 'Disponible' " class="label label-success"> {{ product.estado }} </small>
                                    <small *ngIf="product.estado === 'Mantenimiento' " class="label label-warning"> {{ product.estado }} </small>
                                </td>
                                <td>
                                    <span *ngIf="product.status" class="label label-success"> Activo </span>
                                    <span *ngIf="!product.status" class="label label-danger"> Desactivado </span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- ========================================================= 
MODAL CREAR TAREA
======================================================== -->
<div id="nueva-tarea" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalNuevaTarea" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalNuevaTarea">Nueva Tarea</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal form-material" autocomplete="off" [formGroup]="formTask" (ngSubmit)="createTask()">

                    <div class="form-group has-danger">
                        <div class="col-md-12 m-b-20">
                            <input formControlName="para" type="text" class="form-control" placeholder="Para">
                            <div *ngIf="validate('para')" class="form-control-feedback">
                                <small> Debe de especificar para que es la tarea </small>
                            </div>
                        </div>
                    </div>

                    <!-- DESCIPCION DEL CORRECTIVO -->
                    <div class="form-group">
                        <div class="col-md-12 m-b-20">
                            <label>Descripción de la tarea</label>
                            <textarea class="form-control" rows="3" #description placeholder="Escribe la descripción de la tarea..."></textarea>
                        </div>
                    </div>

                    <div class="form-group has-danger">
                        <div class="col-md-12 m-b-20">
                            <input formControlName="address" type="text" class="form-control" placeholder="Dirección">
                            <div *ngIf="validate('address')" class="form-control-feedback">
                                <small>La dirección es obligatoria </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 m-b-20">
                            <label>Seleccionar Usuario</label>
                            <select class="form-control" formControlName="staff">
                                <option *ngFor="let usuario of users" [value]="usuario.uid" > {{ usuario.name }} </option>
                            </select>
                            <div *ngIf="validate('staff')" class="form-control-feedback">
                                <small class="text-danger">La usuario es obligatoria </small>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info waves-effect btn-block">Crear</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>